* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header{
    position: fixed;
  }
  main {
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y proximity;
  }

  header>a{
    position: fixed;
    right: 50px;
  }

  header>a>img{
    width: 50px;
    height: 50px;
  }

  header>a:nth-of-type(1){
    bottom: 50px;
  }

  header>a:nth-of-type(2){
    bottom: 100px;
  }


  header>a:nth-of-type(3){
    bottom: 150px;
  }


  /* Dimensionner les diapos et leur contenu */
  /* Ajouter un fond unique, couvrant l'écran */
  /* Fixer le fond, et hop ! */
section {
    height: 100vh;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    scroll-snap-align: center;
  }
  
section:nth-of-type(1) {
    /* On peut aussi mettre un gif animé ou un webp animé... */
    background-image: url('Sources/061486643186-web-tete.jpg');
  }
  
section:nth-of-type(2) {
    background-image: url('Sources/A52W_1024x1024.jpg');
  }
  
section:nth-of-type(3) {
    background-image: url('Sources/-182747.jpg');
  }
  
section:nth-of-type(4) {
    background-image: url('Sources/militaire\ sable.jpg');
  }

  section:nth-of-type(5) {
    background-image: url('Sources/CPA-10_Stagiaires_01.jpg');
  }

  nav {
    background-image: url('sources/helico.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    width: 30vw;
    height: 100vh;
    top: 0;
    left: -30vw;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input:checked~nav {
    left: 0%;
    background-color: lightcyan;
}

input {
    display: none;
}

.bouton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  }


  .line {
    fill: none;
    stroke: white;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  svg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }


  /*slide 1*/

  h1{
    text-align: center;
  }

  #accueil{
    padding: 10vh 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #accueil>div{
    align-self: flex-start;
  }

/*slide 2*/

#presentation>h2{
  text-align: start;
  padding-left: 10vw;
  margin-bottom: 5vh;
}

#presentation>p{
  background-color: rgb(0, 0, 0);
  padding: 10vh 10vw;
}

#presentation>img{
  position: relative;
  top: 10vh;
  left: 15vw;
}

/*slide3*/

#specialite{
  position: relative;
  top: 0;
  left: 0;
}
article{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  margin: 20vh 5vw 5vh 5vw;
  height: 50vh;
  grid-gap: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

article>img{
  grid-row: 1/-1;
  grid-column: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#specialite>div{
  text-align: center;
  margin-top: 70vh;
}

article:not(:first-of-type){
  display: none;
}

article>h2{
  text-align: left;
  align-self: end;
}

article>p{
  text-align: justify;
  background-color: black;
}

.span_specialite>span {
  display: inline-block;
 width: 2vw;
 height: 2vw;
 margin: 0 1vw;
 border-radius: 50%;
 background-color: black;
 cursor: pointer;
 }

 /*slide 4*/

 .imgvideos{
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
  width: 50vw;
  margin-top: 15vh;
}

 #imagesetvideos>.imgvideos>* {
  width: 50vw;
  height: 50vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;

}

#imagesetvideos>.imgvideos>*:not(:first-child) {
  display: none;
}

.imgvideos {
  height: 50vh;
}

.span_video_et_images {
  margin-top: 5vh;
}

.span_video_et_images>span {
  display: inline-block;
 width: 2vw;
 height: 2vw;
 margin: 0 1vw;
 border-radius: 50%;
 background-color: black;
 cursor: pointer;
 }


/*Slide 5*/

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
}

section:nth-of-type(5)>p {
  text-align: center;
}

button {
  display: block;
  margin: auto;
}

#carte{
  width: 50vw;
  height: 50vh;
}

#cartelocalisation>img{
  position: relative;
  top: 10vh;
  left: 15vw;
}

article:nth-of-type(5){
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  margin: 20vh 5vw 5vh 5vw;
  height: 50vh;
  grid-gap: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}
